#wrapper {
    -fx-background-image: url("../images/43-436329_blue-purple-gradient-purple-blue-and-green.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#menu {
    -fx-background-color: #391339;
}

.text-field {
    -fx-border-radius: 50px;
    -fx-background-color: rgba(255, 255, 255, .1);
    -fx-background-radius: 50px;
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: rgba(255, 255, 255, .1);
    -fx-translate-y: 16;
}

.menu-item .label {
    -fx-padding: 10;
    -fx-text-fill: "#cccccc";
    -fx-background-radius: 50px;
    -fx-background-color: "#391339";
}

.menu-item:focused .label {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, .1);
}